.back-button {
    position: absolute;
    z-index: 1;
    top: 6rem;
    left: 2rem;
    color: #fff;
    font-size: 2.6rem;
    transition: all 200ms ease-in-out;
}

.back-button:hover,
.back-button:active {
    color: #4a65ff;
}
