
/* coin */
.coin-section {
    position: relative;
    padding: 0 1.5rem !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coin-section .back-button {
    position: absolute;
    top: 6rem;
    left: 2rem;
    color: #fff;
    font-size: 3rem;
    transition: all 200ms ease-in-out;
}
.coin-section .back-button:hover,
.coin-section .back-button:active {
    color: #8364f0;
}

.coin-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}



.coin-container .coin-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 1.2rem;
    border-right: 2px solid #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.coin-container .coin-info .coin-icon {
    width: 14rem;
    height: 14rem;
}

.coin-container .coin-info .coin-name {
    font-size: 1.9rem;
}





.coin-container .coin-data {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 70%;
    font-size: 1.3rem;
}

.coin-data .data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}

.coin-data .data-grid .grid-cell {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.coin-data .data-label {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-size: 1rem;
    color: #d7dae0;
}


.coin-data .coin-price-change.green {
    color: rgb(95, 243, 127);
}

.coin-data .coin-price-change.red {
    color: rgb(255, 58, 58);
}

