/* Font */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700&display=swap');

/* UNIVERSAL SELECTOR */
* {
    font-family: 'Onest', sans-serif;

    /** It will remove all default 
    ** margins and paddings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 20px;
    border: 2px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-active);
}



html {
    scroll-behavior: smooth;
}


/* || ROOT || */
:root {
    --background: rgb(5, 8, 36);
    --font: #ffffff;
    --section-width: 1120px;
    --scrollbar: #47beb1;
    --scrollbar-hover: #52d1c2;
    --scrollbar-active: #62e2d3;
    --blue: #4625ff;
    --gradient: linear-gradient(90deg, #4625ff 0%, #48dfbe 100%);
    --home-background: linear-gradient(rgb(25, 24, 92), rgb(5, 8, 36));
    --header-background: rgb(5, 5, 36);
    --footer: #08060f;
    --links: #8696b6;
    --item-backround: #121744;
    --item-backround-hover: #212264;
    --positive-price-change: rgb(95, 243, 127);
    --negative-price-change: rgb(255, 58, 58);
    --number-pagi-btn: rgba(91, 107, 255, 0.3);
}


body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font);
    background: var(--background);
}

#root {
    position: relative;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}



/* Main */
main {
    position: relative;
    width: 100%;
    /* flex-grow: 1; */
    /* overflow-y: auto; */
}






/* Reusable */
a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: 6rem 1.5rem 3rem;
}

.section-heading {
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-heading span {
    text-align: center;
    color: #4eecca;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}










/* Header */
header {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 1.5rem !important;
    z-index: 100;
}

.sticky-header {
    position: fixed;
    background: var(--header-background);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.16);
}

header .brand {
    font-size: 1.6rem;
    font-weight: 600;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
}

.nav-ul li {
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.nav-ul li:hover,
.nav-ul li:active {
    color: #4f78ff;
}

header .social-icons {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 0.8rem;
}









/* Hero */
section.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--home-background);
}

.home-container {
    padding-top: 7rem;
}

/* coin-feed */
.crypto-feed-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: 200px;
    padding: 0 1rem;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
}

.feed-coin {
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.feed-coin .coin-icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 10px;
}

.feed-coin .current-price {
    font-size: 1.2rem;
    margin-top: 5px;
}

.feed-coin .price-change.green {
    color: var(--positive-price-change);
}

.feed-coin .price-change.red {
    color: var(--negative-price-change);
}











/* Market */
section.market {
    width: 100%;
    display: flex;
    justify-content: center;
}

.market-container {
    max-width: var(--section-width);
}

.market-container .market-section-heading {
    font-size: 2rem;
    margin: 15px 0 30px;
}

.coin-list-info {
    background: var(--blue);
    background: var(--gradient);
    display: grid;
    grid-template-columns: 5fr 4fr 4fr 1fr;
    gap: 1.2rem;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.9rem;
    border-radius: 12px 12px 0 0;
    white-space: nowrap;
}

.market.section .coin-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
}

.coin-list .coin {
    background: var(--item-backround);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 10px;
    padding: 0.8rem 1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: all 150ms ease-in-out;
}

.coin-list .coin:hover,
.coin-list .coin:active {
    background: var(--item-backround-hover);
}


.coin .coin-icon {
    width: 2.8rem;
    height: 2.8rem;
}

.coin span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
}

.coin .coin-name {
    font-weight: 500;
    white-space: nowrap;
}

.coin .coin-symbol {
    font-size: 0.8rem;
    color: #dbd8df;
    font-weight: 400;
}

.coin .price-change.green {
    color: var(--positive-price-change);
}

.coin .price-change.red {
    color: var(--negative-price-change)
}







/* Pagination */
.market-container .pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.4rem 0;
}

.pagination-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 14px;
    box-shadow: 0 0 10px 0 rgba(150, 148, 168, 0.4);
}

.pagination-box button {
    border: none;
    cursor: pointer;
    font: inherit;
    transition: all 150ms ease-in-out;
}

.pagination-box button:hover,
.pagination-box button:active {
    background: rgba(82, 107, 247, 0.6);
}

.pagination-container .number-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 12px;
    font-size: 1.1rem;
    background: var(--number-pagi-btn);
    color: var(--font);
}

.number-pagination.activePagi {
    color: var(--font);
    background: var(--blue);
}

.number-pagination.activePagi:hover,
.number-pagination.activePagi:active {
    background: var(--blue);
}


/* Previous/Next pagination */
.pagination-container .arrow-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    font-size: 1.5rem;
    background: #1d1f77;
    color: var(--font);
}

.pagination-container .previous-pagination {
    border-radius: 50% 5px 5px 50%;
}

.pagination-container .next-pagination {
    border-radius: 5px 50% 50% 5px;
}











/* Features */
section.features {
    width: 100%;
    display: flex;
    justify-content: center;
}

.features-container {
    max-width: 1000px;
}

.features-container .section-heading {
    margin-bottom: 4rem;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}

.features-grid .grid-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.features-grid .feature-box {
    background: #0b0b33;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #363c66;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.feature-box .feature-icon {
    font-size: 1.5rem;
}

.feature-box .feature-title {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.feature-box .feature-info {
    color: #d6d5db;
    font-size: 0.9rem;
}

.features-container .feature-image {
    width: 95%;
}










/* Join */
section.join {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-container {
    padding: 5rem 0;
}

.join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-content .section-heading {
    padding-bottom: 1.4rem;
}

.join-content .join-p {
    font-size: 1.2rem;
    padding-bottom: 5rem;
}

/* .join-content .join-button {
    display: inline-block;
    background: var(--blue);
    background: var(--gradient);
    padding: 1.2rem 2.4rem;
    border-radius: 10rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
} */

.join-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--blue);
    border-radius: 30px;
    overflow: hidden;
    transition: all 400ms ease-in-out;
}

.btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.join-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: var(--gradient);
    border-radius: 30px;
    height: 10px;
    width: 10px;
    z-index: -1;
    visibility: visible;
    transform: scale(5) translateX(2px);
    transition: all 400ms ease-in-out;
}

.join-button:hover,
.join-button:active {
    border: 2px solid var(--background);
}

.join-button:hover::before, 
.join-button:active::before {
    visibility: visible;
    transform: scale(32) translateX(2px);
}








/* Footer */
footer {
    /* background: ; */
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}



.social-icons {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    font-size: 2rem;
}

.footer-text {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.1rem;
    cursor: default;
}














/* coin */
section.coin {
    position: relative;
    padding: 0 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.coin .coin-container {
    position: relative;
    background: #121744;
    border-radius: 34px;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}


.coin-container .coin-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34%;
    gap: 1.2rem;
    border-right: 2px solid #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
}

.coin-container .coin-info .coin-icon {
    width: 14rem;
    height: 14rem;
}

.coin-container .coin-info .coin-name {
    font-size: 1.9rem;
}



.coin-container .coin-data {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 66%;
    font-size: 1.3rem;
}

.coin-data .data-heading {
    font-size: 1.8rem;
}

.coin-data .data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.6rem;
}

.coin-data .data-grid .grid-cell {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.coin-data .data-label {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-size: 1rem;
    color: #d7dae0;
}


.coin-data .coin-price-change.green {
    color: var(--positive-price-change);
}

.coin-data .coin-price-change.red {
    color: var(--negative-price-change);
}