@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*? new font */

/* UNIVERSAL SELECTOR */
* {
    font-family: 'Mooli', 'Ubuntu', "Fira sans", sans-serif;

    /** It will remove all default 
    ** margins and paddings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #53d0c1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #40b8aa;
    border-radius: 20px;
    border: 2px solid #ffffff;
}



html {
    font-size: 100%;
    scroll-behavior: smooth;
}


/* || ROOT || */
:root {
    --background: rgb(15, 8, 36);
    --font: #ffffff;
    --header: #000000;
    --links: #8696b6;
    --footer: #08060f;
}


body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font);
    background: var(--background);
}

#root {
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}




/* Main */
main {
    width: 100%;
    /* flex-grow: 1; */
    /* overflow-y: auto; */
}






/* Reusable */
a {
    text-decoration: none;
    color: inherit;
}

.section-heading {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading span {
    color: #4eecca;
}












/* Market */
.market-section {
    padding: 2rem 1.5rem 0 !important;
    width: 100%;
    display: flex;
    justify-content: center;
}

.market-section .market-container {
    max-width: 1120px;
}

.market-section .market-section-heading {
    font-size: 2.5rem;
    margin: 15px 0 30px;
}

.coin-list-info {
    background: #7925ff;
    display: grid;
    grid-template-columns: 5fr 4fr 4fr 1fr;
    gap: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 12px 12px 0 0;
    white-space: nowrap;
}

.market-section .coin-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;

}

.coin-list .coin {
    background: #1b173f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    border-radius: 10px;
    padding: 1.2rem 1rem;
    cursor: pointer;
    white-space: nowrap;
}

.coin-list .coin:hover,
.coin-list .coin:active {
    background: #271f61;
}


.coin .coin-icon {
    width: 2.8rem;
    height: 2.8rem;
}

.coin span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
}

.coin .coin-name {
    font-weight: 600;
    white-space: nowrap;
}

.coin .coin-symbol {
    font-size: 0.8rem;
    color: #dad7dd;
    font-weight: 300;
}

.coin .price-change.green {
    color: rgb(95, 243, 127);
}

.coin .price-change.red {
    color: rgb(255, 58, 58);
}




/* pagination */
.market-section .pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem 0;
}

.pagination-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
    padding: 1rem 1.2rem;
    border-radius: 14px;
    box-shadow: 0 0 10px 0 rgba(150, 148, 168, 0.4);
}

.pagination-box button {
    border: none;
    cursor: pointer;
    font: inherit;
}

.pagination-box button:hover,
.pagination-box button:active {
    background: rgba(110, 102, 226, 0.6);

}

.pagination-container .number-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 12px;
    font-size: 1.2rem;
    background: rgba(120, 114, 202, 0.3);
    color: #fff;
}

.number-pagination.activePagi {
    color: #ffffff;
    background: #7f30fd;
}

.number-pagination.activePagi:hover,
.number-pagination.activePagi:active {
    background: #7f30fd;
}


/* Previous/Next pagination */
.pagination-container .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50% 0 0 50%;
    font-size: 1.5rem;
    background: #442e92;
    color: #fff;
}

.pagination-container .previous-pagination {
    border-radius: 50% 5px 5px 50%;
}

.pagination-container .next-pagination {
    border-radius: 5px 50% 50% 5px;
}













/* join */
.join-section {
    padding: 10rem 1.5rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-section .join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-content .section-heading {
    padding-bottom: 1.4rem;
}

.join-content .join-p {
    font-size: 1.3rem;
    padding-bottom: 5rem;
}

.join-content .join-button {
    display: inline-block;
    background-color: #7925ff;
    padding: 1.5rem 2.5rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}


































/* extras */
/* <div class="light-button">
    <button class="bt">
        <div class="light-holder">
            <div class="dot"></div>
            <div class="light"></div>
        </div>
        <div class="button-holder">
            <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"></path>
            </svg>
            <p>Discord</p>
        </div>
    </button>
</div>

.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
  }
  
  .light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
  }
  
  .light-button button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
  }
  
  .light-button button.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
  }
  
  .light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  
  .light-button button.bt:hover .button-holder svg {
    fill: rgba(88, 101, 242, 1);
  }
  
  .light-button button.bt:hover .button-holder {
    color: rgba(88, 101, 242, 1);
    outline: rgba(88, 101, 242, 1) 2px solid;
    outline-offset: 2px;
  }
  
  .light-button button.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(88, 101, 242, 1) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  } */