/* --  <1200 px  */
@media only screen and (min-width: 1200px) {}

/* --  <992 px  */
@media only screen and (min-width: 992px) {}

/* --  >768 px  */

/* --  >720 px  */
@media only screen and (max-width: 720px) {

    /* --REUSABLE */
    .section {
        padding: 6rem 1.5rem 3rem;
    }


    /* --HEADER */
    /* hide desktop */
    .header__desktop {
        display: none;
    }

    /* show mobile */
    .header__mobile {
        display: flex;
    }

    .mobile__nav {
        display: block;
    }




    /* --HOME */
    .home-container {
        padding-top: 4.5rem;
    }

    /* coin-feed */
    .crypto-feed-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2.5rem;
        gap: 2rem 0.8rem;
    }

    .feed-coin {
        width: 100%;
    }

    .feed-coin .coin-icon {
        margin-bottom: 8px;
    }

    .feed-coin .current-price {
        margin-top: 4px;
    }






    /* --MARKET */
    .market__container {
        overflow: hidden;
    }

    .market__content {
        overflow: auto;
    }

    .market__list_label {
        width: 775px;
    }

    .section--market .coin-list {
        width: 775px;
    }







    /* --FEATURES */
    .features__grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .features__grid .grid-cell {
        max-width: 480px;
        width: 100%;
        gap: 1.2rem;
        padding: 0 1rem;
    }

    .features__grid .feature-box {
        width: 100%;
    }

    .features-container .feature-image {
        width: 60%;
    }





    /* --COIN */
    /* price change */
    .price__change__content .price__change__list {
        gap: 0.7rem 0.5rem;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

}




/* --  >612 px  */
@media only screen and (max-width: 606px) {

    /* --MARKET */
    .market__list_label {
        width: 750px;
    }

    .section--market .coin-list {
        width: 750px;
    }



    /* --PAGINATION */
    .market__pagination {
        padding: 1rem 0;
    }

    .pagination__container {
        gap: 0.7rem;
        padding: 0.6rem 0.8rem;
        border-radius: 12px;
    }

    .pagination__container button:hover,
    .pagination__container button:active {
        background: rgba(82, 107, 247, 0.6);
    }

    .market__pagination .number-pagination {
        width: 2.3rem;
        height: 2.3rem;
    }

    /* Previous/Next pagination */
    .market__pagination .arrow-pagination {
        width: 2.3rem;
        height: 2.3rem;
    }
}








/* --  >576 px  */
@media only screen and (max-width: 576px) {

    /* || ROOT || */
    :root {
        /* --TYPOGRAPHY */
        --h1-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        /* 13px */
        --font-size-small: 0.813rem;
        /* 15px */
        --font-size-regular: 0.938rem;
        /* 18px */
        --font-size-medium: 1.125rem;
        /* 20px */
        --font-size-large: 1.25rem;
        /* 22px */
        --font-size-extra-large: 1.375rem;

        /* Font Weight*/
        --font-medium: 400;
        --font-semi-bold: 500;
        --font-bold: 600;
    }
}



/* --  >420 px  */
@media only screen and (max-width: 420px) {}