/* --  <1200 px  */
@media only screen and (min-width: 1200px) {}

/* --  <992 px  */
@media only screen and (min-width: 992px) {}

/* --  >768 px  */

/* --  >720 px  */
@media only screen and (max-width: 720px) {

    /* --REUSABLE */
    .section {
        padding: 6rem 1.5rem 3rem;
    }


    /* --HEADER */
    /* hide desktop */
    .header__desktop {
        display: none;
    }

    /* show mobile */
    .header__mobile {
        display: flex;
    }

    .mobile__nav {
        display: block;
    }




    /* --HOME */
    .home-container {
        padding-top: 4.5rem;
    }

    /* coin-feed */
    .crypto-feed-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2.5rem;
        gap: 2rem 0.8rem;
    }

    .feed-coin {
        width: 100%;
    }

    .feed-coin .coin-icon {
        margin-bottom: 8px;
    }

    .feed-coin .current-price {
        margin-top: 4px;
    }






    /* --MARKET */
    .market__container {
        overflow: hidden;
    }

    .market__content {
        overflow: auto;
    }

    .market__list_label {
        width: 775px;
    }

    .section--market .coin-list {
        width: 775px;
    }









    /* --FEATURES */
    .features__grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .features__grid .grid-cell {
        max-width: 480px;
        width: 100%;
        gap: 1.2rem;
        padding: 0 1rem;
    }

    .features__grid .feature-box {
        width: 100%;
    }

    .features-container .feature-image {
        width: 60%;
    }

}


/* --  >612 px  */
@media only screen and (max-width: 612px) {}










/* --  >576 px  */
@media only screen and (max-width: 576px) {}

/* --  >420 px  */
@media only screen and (max-width: 420px) {}